<div class="text-layout">
    <h1>Pipes Basicos</h1>
    <p>
        Pipes Incluidos en Angular - Usuaelmente en el Common Module
    </p>
</div>
<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase" 
        [subheader]="nameLower | uppercase">
            {{nameLower|uppercase}}
        </p-card>

    </div>
    <div class="p-col-4">
        <p-card header="lowercase" 
        [subheader]="nameUpper | lowercase">
            {{nameUpper|lowercase}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="titlecase" 
        [subheader]="nameComplete | titlecase">
            {{nameComplete|titlecase}}
        </p-card>
    </div>
</div>
<div class="text-layout">
    <h1>Date | fecha | Pipe</h1>
    <p>
        Pipe para manejar las fechas
    </p>
</div>
<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>
                    fecha
                </li>
                <li>
                    fecha | date
                </li>
                <li>
                    fecha | date: 'short'
                </li>
                <li>
                    fecha | date: 'long'
                </li>
                <li>
                    fecha | date: 'MMMM'
                </li>
                <li>
                    fecha | date: 'MMMM dd, yyyy'
                </li>
                <hr>
                <li>
                    fecha | date: 'long':'GMT-6'
                </li>
                <li>
                    fecha | date: 'long':'GMT-4'
                </li>
            </ul>
        </p-card>

    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>
                    {{fecha}}
                </li>
                <li>
                    {{fecha | date}}
                </li>
                <li>
                    {{fecha | date: 'short'}}
                </li>
                <li>
                    {{fecha | date: 'long'}}
                </li>
                <li>
                    {{fecha | date: 'MMMM'}}
                </li>
                <li>
                    {{fecha | date: 'MMMM dd, yyyy'}}
                </li>
                <hr>
                <li>
                    {{fecha | date: 'long':'GMT-6'}}
                </li>
                <li>
                    {{fecha | date: 'long':'GMT-4'}}
                </li>
                <li>
                    {{fecha | date: 'long':'': 'en'}}
                </li>
            </ul>
        </p-card>
    </div>
</div>